* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transition-property: color, background-color, fill, -webkit-box-shadow;
  transition-property: color, background-color, fill, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow, fill;
  transition-property: color, background-color, box-shadow, fill, -webkit-box-shadow;
  -webkit-transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h2,
h3 {
  color: #212121;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 50px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1201px) {
  .container {
    width: 1200px;
  }
}
.page-header {
  background-color: #ffffff;
  border: 1px solid #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-container {
  padding: 24px 15px 25px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-header__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link--active {
  position: relative;
  color: #2196f3;
}
.menu__link--active::after {
  position: absolute;
  content: "";
  display: block;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  top: 50px;
}

.contact-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.contact-list__link:hover, .contact-list__link:focus {
  color: #2196f3;
}
.contact-list__link:hover .contact-list__icon, .contact-list__link:focus .contact-list__icon {
  fill: #2196f3;
}

.contact-list__icon {
  margin-right: 10px;
  margin-left: 0;
  margin-top: auto;
  margin-bottom: auto;
  fill: #757575;
}
.contact-list__icon--envelope {
  width: 16px;
  height: 12px;
}
.contact-list__icon--smartphone {
  width: 10px;
  height: 16px;
}

.js-open-menu {
  width: 40px;
  height: 40px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}
.js-open-menu__icon {
  width: 40px;
  height: 40px;
  fill: black;
}
.js-open-menu__icon:active {
  fill: #2196f3;
}

@media screen and (max-width: 481px) {
  .menu {
    display: none;
  }
  .contact {
    display: none;
  }
}
@media screen and (min-width: 481px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .menu__link {
    text-decoration: none;
    color: #212121;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
  .menu__link:hover {
    color: #2196f3;
  }
  .menu__link:focus {
    color: #2196f3;
  }
  .contact {
    text-decoration: none;
    color: #757575;
    font-weight: 500;
    letter-spacing: 0.02em;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 12px;
  }
  .js-open-menu {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .contact {
    width: 138px;
  }
  .menu,
.page-header__right-side {
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    width: 250px;
    margin-left: 10px;
  }
  .contact {
    font-size: 14px;
  }
  .contact-list__item:not(:last-child) {
    padding-right: 30px;
  }
}
@media screen and (min-width: 1201px) {
  .menu {
    width: 254px;
    margin-left: 93px;
  }
}
.logo {
  text-decoration: none;
  color: black;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
}
.logo__Web {
  color: #2196f3;
}

.logo--header {
  color: #000000;
}

.logo--footer {
  padding-bottom: 20px;
  color: white;
  text-align: center;
}

@media (min-width: 769px) {
  .logo {
    font-size: 26px;
  }
  .logo--footer {
    text-align: left;
  }
}
.container--banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 400px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(".././images/banner-background.jpg");
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(".././images/banner-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__title {
  color: white;
  font-size: 26px;
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  padding-bottom: 30px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .container--banner {
    width: 100%;
    height: 400px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(".././images/banner-backgroundx2.jpg");
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(".././images/banner-backgroundx2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (min-width: 481px) {
  .container--banner {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(".././images/banner-backgroundx2.jpg");
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(".././images/banner-backgroundx2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (min-width: 769px) {
  .banner__title {
    font-size: 44px;
  }
  .container--banner {
    height: 600px;
  }
}
@media (min-width: 1201px) {
  .container--banner {
    background-position: 0 0, 0 -150px;
    max-width: 1600px;
  }
}
.button, .modal__button-submit, .subscribe__button, .banner__button {
  font-family: inherit;
  font-size: 1em;
  text-align: center;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  background-color: #2196f3;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.banner__button {
  text-align: center;
  margin: 0 auto;
}

.subscribe__button {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  bottom: 0;
  position: 0, 50%;
}
.subscribe__button-text {
  padding-left: 14px;
}
.subscribe__button-icon {
  fill: white;
  margin-left: 24px;
}

.modal__button-submit {
  margin-top: 30px;
  text-align: center;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.modal__button-submit:hover, .modal__button-submit:focus {
  background-color: #f5f4fa;
  color: #212121;
}

.modal__button-close {
  position: absolute;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  -webkit-transition-property: border-color, fill;
  transition-property: border-color, fill;
  -webkit-transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button-close:hover, .modal__button-close:focus {
  border-color: #2196f3;
}
.modal__button-close:hover .modal__icon-close, .modal__button-close:focus .modal__icon-close {
  fill: #2196f3;
}

.modal__icon-close {
  width: 18px;
  height: 18px;
  margin-top: 6px;
  fill: #212121;
}

.filters__button {
  font-family: inherit;
  background-color: #f5f4fa;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.filters__button:not(last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}
.filters__button:hover, .filters__button:focus {
  background-color: #2196f3;
  color: white;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media (min-width: 769px) {
  .subscribe__button {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
.advantages {
  background-color: white;
  padding: 94px 15px;
}

.advantages__list h3 {
  text-align: center;
}
.advantages__list p {
  color: #757575;
}

.advantages__icon {
  background-color: #f5f4fa;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
}

@media (max-width: 481px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (min-width: 481px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .advantages__item {
    width: calc(50% - 15px);
  }
  .advantages__icon {
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
  }
}
@media (min-width: 769px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .advantages__item {
    width: 270px;
  }
}
.about-us {
  background-color: #ffffff;
  padding-bottom: 94px;
}

.about-us__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us__item {
  position: relative;
  width: calc(33% - 20px);
}

.about-us__image {
  display: block;
  width: 100%;
  height: auto;
}

.about-us__label {
  position: absolute;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0 auto;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 769px) {
  .about-us {
    display: none;
  }
}
.team {
  background-color: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}
.team__job-title {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}
.team__photo {
  width: 100%;
  height: auto;
}

.team__item {
  background-color: #ffffff;
  width: calc(100% - 30px);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  min-width: 200px;
  margin: auto;
}
.team__item a:focus {
  background-color: #2196f3;
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.team__item a:focus .team__icon {
  fill: #ffffff;
}

.team__icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 206px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 16px;
  margin: 0 auto;
  margin-bottom: 18px;
}

.team__icons-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__icons-item:hover {
  background-color: #2196f3;
}
.team__icons-item:hover .team__icon {
  fill: #ffffff;
}

.team__icon {
  margin-top: 12px;
  fill: #afb1b8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition: 25ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 25ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 481px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .team__item {
    width: calc(50% - 30px);
  }
}
@media (min-width: 769px) {
  .team__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0px;
  }
  .team__item {
    max-width: 270px;
  }
}
.our-clients__title {
  padding-top: 60px;
  padding-bottom: 30px;
}

.our-clients__list {
  padding-bottom: 60px;
  padding-right: 15px;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-clients__item {
  width: calc(50% - 15px);
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 3px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.our-clients__item:hover {
  border-color: #2196f3;
}
.our-clients__item:hover .our-clients__logo {
  fill: #2196f3;
}
.our-clients__item a:focus {
  border-color: #2196f3;
}
.our-clients__item a:focus .our-clients__logo {
  fill: #2196f3;
}

.our-clients__logo {
  fill: #afb1b8;
}

@media (min-width: 481px) {
  .our-clients__item {
    width: calc(33% - 20px);
  }
}
@media (min-width: 769px) {
  .our-clients__title {
    padding-top: 94px;
  }
  .our-clients__list {
    padding-bottom: 94px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 0;
  }
  .our-clients__item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 170px;
    height: 92px;
  }
}
.page-footer {
  background-color: #2f303a;
  text-align: center;
}

.page-footer__columns-list {
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
}

.page-footer__address {
  color: white;
  font-style: normal;
  padding-bottom: 60px;
}

.page-footer__contact-list {
  color: rgba(255, 255, 255, 0.6);
  padding-top: 9px;
}

.page-footer__contact-item:not(:last-child) {
  padding-bottom: 9px;
}

.page-footer__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.page-footer__link:hover, .page-footer__link:focus {
  color: #2196f3;
}

.page-footer__title {
  color: white;
  font-size: 14px;
  margin-bottom: 20px;
}

.follow-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 60px;
}

.follow-us__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.1);
}
.follow-us__item:not(:last-child) {
  margin-right: 10px;
}
.follow-us__item:hover {
  background-color: #2196f3;
}
.follow-us__item:hover .follow-us__icon {
  fill: #ffffff;
}
.follow-us__item a:focus {
  background-color: #2196f3;
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.follow-us__icon {
  margin-top: 12px;
  fill: white;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 60px;
}

.subscribe__input {
  width: 100%;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 16px;
  margin-bottom: 20px;
  background-color: var(--background-secondary-color);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media (min-width: 481px) {
  .page-footer__columns-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .subscribe__input {
    width: 450px;
  }
}
@media (min-width: 769px) {
  .page-footer {
    text-align: left;
  }
  .page-footer__columns-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .page-footer__title {
    padding-top: 12px;
    color: white;
    font-size: 14px;
  }
  .page-footer__title--newsletter {
    margin-bottom: 20px;
  }
  .follow-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
  }
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .subscribe__input {
    width: 250px;
    padding: 15px 16px;
    margin-bottom: 0;
  }
}
@media (min-width: 1201px) {
  .subscribe__input {
    width: 358px;
  }
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition: 500ms linear;
  transition: 500ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100% - 30px);
  border-radius: 4px;
  background-color: white;
}

.order-form {
  padding: 40px;
}

.order-form__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  margin-bottom: 12px;
}

.order-form__label {
  position: relative;
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

.order-form__field-name {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
}

.order-form__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.order-form__input:hover, .order-form__input:focus {
  outline: none;
  border: 1px solid #2196f3;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form__input:hover + .order-form__icon, .order-form__input:focus + .order-form__icon {
  fill: #2196f3;
}

.order-form__icon {
  position: absolute;
  fill: #2f303a;
  width: 18px;
  height: 18px;
  bottom: 11px;
  left: 12px;
}

.order-form__comment {
  padding: 12px 16px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.order-form__comment:hover, .order-form__comment:focus {
  outline: none;
  border: 1px solid #2196f3;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form__comment::-webkit-input-placeholder {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(117, 117, 117, 0.5);
}
.order-form__comment::-moz-placeholder {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(117, 117, 117, 0.5);
}
.order-form__comment:-ms-input-placeholder {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(117, 117, 117, 0.5);
}
.order-form__comment::-ms-input-placeholder {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(117, 117, 117, 0.5);
}
.order-form__comment::placeholder {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(117, 117, 117, 0.5);
}

.TAA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.TAA__link {
  color: #2196f3;
}
.TAA__link:hover, .TAA__link:focus {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.TAA__input {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  color: #212121;
  border-radius: 1px;
  margin-right: 8px;
}
.TAA__input:checked {
  border: none;
}
.TAA__input:checked + svg {
  fill-opacity: 1;
  display: block;
}

.TAA__checkbox-on {
  position: absolute;
  fill-opacity: 0;
  z-index: -1;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 0;
}

@media (min-width: 481px) {
  .modal {
    width: 450px;
  }
}
@media (min-width: 769px) {
  .modal {
    width: 528px;
  }
}
.portfolio {
  background-color: white;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
  padding-bottom: 40px;
  margin-right: 15px;
  margin-left: 15px;
}

.projects {
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
}
.projects__description {
  padding-left: 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.projects__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  padding-top: 20px;
}
.projects__type {
  font-size: 16px;
  line-height: 1.875;
  padding-bottom: 20px;
}

.projects__item {
  width: 100%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.projects__item:hover {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.projects__item > a:focus .projects__item {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.projects__item > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.thumb {
  position: relative;
  width: 100%;
  height: 294px;
  overflow: hidden;
}
.thumb__image {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.thumb__image--basketball {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 15%;
     object-position: 50% 15%;
}
.thumb__label {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 45px;
  padding-top: 49px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: white;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.thumb:hover > .thumb__label {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

@media (min-width: 481px) {
  .filters {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 14px;
  }
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 30px;
  }
  .projects__item {
    width: calc(50% - 15px);
    margin-bottom: 0px;
  }
}
@media (min-width: 769px) {
  .filters {
    padding-top: 94px;
    padding-bottom: 34px;
  }
  .projects {
    padding-bottom: 94px;
  }
  .projects__item {
    width: calc(33.3333333333% - 20px);
  }
}
.js-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.js-close-menu,
.js-open-menu {
  cursor: pointer;
}

.js-close-menu {
  position: absolute;
  background-color: white;
  border: none;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 15px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
}
.js-close-menu:hover .js-close-menu__icon, .js-close-menu:focus .js-close-menu__icon {
  fill: #2196f3;
}

.js-close-menu__icon {
  width: 18px;
  height: 18px;
  fill: #212121;
}

.mobile-menu {
  padding-top: 48px;
  padding-left: 40px;
}
.mobile-menu__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}
.mobile-menu__link--active {
  color: #2196f3;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.js-menu-container__bottom {
  padding-left: 40px;
}

.mobile-contact-list {
  margin-bottom: 64px;
}
.mobile-contact-list__link--phone {
  color: #2196f3;
  font-size: 34px;
  line-height: 40px;
}
.mobile-contact-list__link--phone {
  font-size: 24px;
  line-height: 28px;
}
.mobile-contact-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.js-menu-container__social-media {
  margin-bottom: 48px;
}

.js-menu-container__link {
  color: #2196f3;
}/*# sourceMappingURL=main.css.map */