@import "./../utils/vars.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;

  transition-property: color, background-color, box-shadow, fill;
  transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: getColor("font-text");
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h2,
h3 {
  color: getColor("font-header");
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 50px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.in_progress {
  display: none;
  visibility: hidden;
}

@media (min-width: 481px) {
}

@media (min-width: 769px) {
}

@media (min-width: 1201px) {
  .container {
    width: 1200px;
  }
}
