@import "./../utils/vars.scss";

// Universal selector for basic element styling
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;

  transition-property: color, background-color, box-shadow, fill;
  transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

// Body element styling
body {
  font-family: "Roboto", sans-serif;
  color: getColor("font-text");
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

// Heading elements styling
h2,
h3 {
  color: getColor("font-header");
}

// Anchor (link) element styling
a {
  text-decoration: none;
  color: inherit;
}

// H2 heading specific styling
h2 {
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 50px;
}

// Container class styling for centering content
.container {
  width: 100%;
  margin: 0 auto;
}

// Class for elements that are in progress or hidden
.in_progress {
  display: none;
  visibility: hidden;
}

// Media query for screens with a minimum width of 1201px
@media (min-width: 1201px) {
  .container {
    width: 1200px;
  }
}
