@import "./../utils/vars.scss";

// Base styling for the logo class
.logo {
  text-decoration: none;
  color: black;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;

  &__Web {
    color: getColor("button-primary");
  }
}

// Styling for the logo in the header
.logo--header {
  color: getColor("logo-primary");
}

// Styling for the logo in the footer
.logo--footer {
  padding-bottom: 20px;
  color: white;
  text-align: center;
}

// Media query for screens with a minimum width of 769px
@media (min-width: 769px) {
  .logo {
    font-size: 26px;
  }

  .logo--footer {
    text-align: left;
  }
}
